html{
    background-image: url(https://image.freepik.com/vetores-gratis/chaves-penduradas-fundo_1110-737.jpg);
background-image: no-repeat;


}
body{
    background-color: rgb(164, 187, 79);
    opacity:0.9 ;
    background-position: 0in;
    width:921px;
height:904px;
text-align:center;

font-size:16px;
}

